{% block body %}
    <div id="modal_content m-4">
        <div class="card p-4">
            <div class="card-heading">
                <h3 class="card-title">
                    Profil
                </h3>
            </div>
            <div class="card-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"></div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</td>
                                    <td>{{ user.username }} </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ user.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col">
                            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-success"> 
                                {{ 'Editer le Profil'|trans }}
                            </a> 
                            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary"> 
                                {{ 'Changer de mot de passe'|trans }}
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}