{% extends "MainBundle::layout.html.twig" %}

{% block navbarCollapse %}
    {{ parent() }}
    <li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Editeur : {{ selected_langage_name }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      {% for lang in list_langage %}
        <a class="dropdown-item {% if lang.id == selected_langage %} choix-langage-selected{% else %} choix-langage{% endif %}" href="#" data-id="{{ lang.id }}">{{ lang.nom }}</a>
      {% endfor %}
     </div>
   </li>
{% endblock %}


{% block stylesheet %}
  {{ parent () }}
  <link rel="stylesheet" href="{{ asset('css/ide.css') }}" />
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ asset('js/plugins/ace/ace.js')}}"></script>
  <script>
    var aceMode = '{{ ace_mode }}';
  </script>
  <script src="{{ asset('js/ide.js')}}"></script>
{% endblock %}

{% block title %}{{ parent() }} - {{ selected_langage_name }} {% endblock %}

{% block body %}




<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0" style="z-index : 0">
        <div id="block-editor" class="col-8  m-0 p-0">
          <div id="editor" class="m-0">{{ model }}</div>
          <form id="editor-form" class="form-horizontal"  style="width : 75%; position : absolute; top: auto; bottom : 5%; left:12.5%; z-index: 2;">
            <div class="btn-group" role="group">
              <button id="btn-save" type="submit" class="btn btn-primary btn_save">Save</button>
              <button type="submit" class="btn btn-success btn_save">Run</button> <!--TODO dropdown btn -->
            </div>
          </form>
        </div>
        <div id="console-block" class="console-block-open col-4 m-0 p-0">
          <div id="console-toogle" data-toggle="tooltip" title="Toggle Console" class="left-0 console-toogle-open">&gt;</div>
          <div id="console">
            <textarea class="form-control" class="w-100" style="height : 90%" id="output-console" form="editor-form" readonly></textarea>
            <textarea id="input-console" class="w-100" style="height : 10%; background-color : black; color : white; resize : non" style="">Input</textarea>
          </div>
        </div>
    </div>
 </div>

{% endblock %}
