{% extends "MainBundle::layout.html.twig" %}

{% block navbarContent %}
<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
  <li class="nav-item dropdown">
        <select>
          {% for lang in list_langage %}
            <option value="{{ lang }}" {% if lang == selected_langage %} selected {% endif %}> {{ lang }}</option>
          {% endfor %}
        </select>
  </li>
</ul>

{% endblock %}


{% block stylesheet %}
  {{ parent () }}
  <link rel="stylesheet" href="{{ asset('css/ide.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - {{ selected_langage }} {% endblock %}

{% block body %}




<div class="container-fluid">
    <div class="row" style="z-index : 0">
        <div id="block-editor" class="col-sm-8">
            <div>
                <form id="editor-form" class="form-horizontal">
                    <textarea id="editor" class="form-control" style="resize: none;">Editor</textarea>
                    <div class="btn-group" role="group" style="width : 75%; position : absolute; top: auto; bottom : 5%; left:12.5%; z-index: 2;">
                        <button id="btn-save" type="submit" class="btn btn-primary btn_save">Save</button>
                        <button type="submit" class="btn btn-success btn_save">Run</button> <!--TODO dropdown btn -->
                    </div>
                </form>
            </div>
        </div>
        <div id="console_block" class="col-sm-4">
            <button id="console-toogle">&lt;&lt;</button>
            <textarea class="form-control" id="console" form="editor-form" readonly></textarea>
        </div>
    </div>
 </div>

{% endblock %}
