{% extends "MainBundle::layout.html.twig" %}

{% block navbarContent %}
<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
  <li class="nav-item dropdown">
        <select id="select_lang">
          {% for lang in list_langage %}
            <option value="{{ lang.nom }}" {% if lang.id == selected_langage %} selected {% endif %}> {{ lang.nom }}</option>
          {% endfor %}
        </select>
  </li>
</ul>

{% endblock %}


{% block stylesheet %}
  {{ parent () }}
  <link rel="stylesheet" href="{{ asset('css/ide.css') }}" />
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ asset('js/ide.js')}}"></script>
{% endblock %}

{% block title %}{{ parent() }} - {{ selected_langage_name }} {% endblock %}

{% block body %}




<div class="container-fluid">
    <div class="row" style="z-index : 0">
      <button id="console-toogle" class="console-on"><span>Console </span></button> 
        <div id="block-editor" class="col-sm-8">
            <div>
                <form id="editor-form" class="form-horizontal">
                    <textarea id="editor" class="form-control" style="resize: none;">Editor</textarea>
                    <div class="btn-group" role="group" style="width : 75%; position : absolute; top: auto; bottom : 5%; left:12.5%; z-index: 2;">
                        <button id="btn-save" type="submit" class="btn btn-primary btn_save">Save</button>
                        <button type="submit" class="btn btn-success btn_save">Run</button> <!--TODO dropdown btn -->
                    </div>
                </form>
            </div>
        </div>
        <div id="console_block" class="col-sm-4">
          <div id="console">
            <textarea class="form-control" rows="5" id="output-console" form="editor-form" readonly></textarea>
            <textarea id="input-console" rows="1" style="width : 75%; position : absolute; top: auto; bottom : 5%; left:12.5%; z-index: 2;"></textarea>
          </div>
        </div>
    </div>
 </div>

{% endblock %}
