{% extends "MainBundle::layout.html.twig" %}

{% block navbarCollapse %}
    {{ parent() }}
    <li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Editeur : {{ selected_langage_name }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      {% for lang in list_langage %}
        <a class="dropdown-item" href="#">{{ lang.nom }}</a>
      {% endfor %}
     </div>
   </li>
{% endblock %}


{% block stylesheet %}
  {{ parent () }}
  <link rel="stylesheet" href="{{ asset('css/ide.css') }}" />
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ asset('js/plugins/ace/ace.js')}}"></script>
  <script src="{{ asset('js/ide.js')}}"></script>
{% endblock %}

{% block title %}{{ parent() }} - {{ selected_langage_name }} {% endblock %}

{% block body %}




<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0" style="z-index : 0">
        <div id="block-editor" class="col  m-0 p-0">
          <div id="editor" class="m-0">
#include &lt;iostream&gt;



int main(){
    /*FizzBuzz : Compter de 1 à 100.
     * Si le nombre est divisible par 3, afficher "Fizz". Si il est divisible par 5, afficher "Buzz".
     * Si il divisible par 3 et 5, afficher "FizzBuzz"
     * Sinon afficher le nombre.
     */
    for(int i = 1; i &lt; 100; ++i){
        if(i % 3 == 0){
            std::cout &lt;&lt; "Fizz";
        }
        if( i % 5 == 0){
            std::cout &lt;&lt; "Buzz";
        }
        if( (i % 3 != 0) && ( i % 5 != 0)){
            std::cout &lt;&lt; i;
        }
        std::cout &lt;&lt; " ";
    }
}
          </div>
          <form id="editor-form" class="form-horizontal"  style="width : 75%; position : absolute; top: auto; bottom : 5%; left:12.5%; z-index: 2;">
            <div class="btn-group" role="group">
              <button id="btn-save" type="submit" class="btn btn-primary btn_save">Save</button>
              <button type="submit" class="btn btn-success btn_save">Run</button> <!--TODO dropdown btn -->
            </div>
          </form>
        </div>
        <div id="console-block" class="console-block" class="m-0 p-0">
          <button id="console-toogle" class="left-0"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></button>
          <div id="console">
            <textarea class="form-control" class="w-100" style="height : 90%" id="output-console" form="editor-form" readonly></textarea>
            <textarea id="input-console" class="w-100" style="height : 10%; background-color : black; color : white; resize : non" style="">Input</textarea>
          </div>
        </div>
    </div>
 </div>

{% endblock %}
